.cell {
    width: 5%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(74, 192, 207);
    color: white;
    font-size: 1vw;
    display: inline-block;
    padding: 7px 0 9px;
    margin: 0;
    line-height: 50px;
}
