.App {
  background-color: #E5E4E2;
}

html {
  padding: 0;
  margin: 0;

}

h3,
a {
  text-align: center;
}



.form>p {
  text-align: center;
  line-height: 0;
  margin-bottom: 30px;
}

.form {
  margin: auto;
  padding: 5px 30px 30px;
  width: 20%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4PX #A9A9A9;
  display: flex;
  flex-direction: column;
}

input,
select,
.gender {
  background-color: white;
  padding: 15px 5px 5px 5px;
  border-radius: 7px;
  border: 1px solid slategray;
  font-size: 0.8rem;
}

input[type="text"] {
  width: 45%;
  margin: 10px 5px 10px 6px;
}

.Selected,
.gender {
  width: 33%;
  margin: 10px 3px 10px 5px;
}

.one-line {
  width: 100%;
  display: flex;
  justify-content: center;
}

input[type=email],
input[type=password] {
  margin: 10px 5px;
}




a {
  color: rgba(0, 68, 255, 0.692);
  font-weight: bolder;
  font-size: 0.8rem;
}

a:link {
  text-decoration: none;
}

@media only screen and (max-width: 990px) {
  .registration {
    width: 60%;
  }
}


.messages {
  display: flex;
  justify-content: center;
}

.error {
  display: block;
  background-color: red;
  color: white;
  width: fit-content;

  padding: 5px;
}

.success {
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;

  padding: 5px;
}