
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: #482584;
  background-image: linear-gradient(80deg, #7439db, #ece9f1 50%);
}

.auth-form, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
@media screen and (min-width: 600px) {
  .auth-form {
    padding: 4rem;
    border: 1px solid white;
    border-radius: 20px;
    margin: 0.5rem;
  }
}


label {
  text-align: left;
  padding: 0.5rem 0;
}

input, select{
  margin: 0.5rem 0.5rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #f6f5f8;
}


button {
  border: none;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  color:  #7439db;
}

.sign-button {
  margin-top: 2rem;
  border-radius: 10px;
}

.link-button {
  background: none;
  color: #482584;
  text-decoration: underline;
  padding: 0.2rem;
  font-size: larger;
}

.contact-header {
  color: #482584;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 10rem;
}

.contacts-wrapper {
  margin-bottom: 2.5rem;
}

.input-wrapper {
  margin: 3.5rem;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.delete-contact-button {
  color: #482584;
  background: #e8dffa;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.add-contact-button, .cancel-contact-button {
  color: #482584;
  background: #e8dffa;
}

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}

li {
  width: 450px;
  padding: 0.85em;
  text-align: left;
  margin-bottom: 0.5rem;
  background: #e9e2f8;;
  border-left: 5px solid #7d2bb0;
  color: black;
}

.empty {
  font-size: 20px;
  font-weight: 400;
  color: #482584;
  letter-spacing: 0.2rem;
}


@media screen and (min-width: 600px) {
  .auth-form {
    padding: 4rem;
    border: 1px solid white;
    border-radius: 20px;
    margin: 0.5rem;
  }
}

.contact {
  display: flex;

  border: 1px solid #ccc; 
  padding: 10px;
  margin: 10px;
}


@media screen and (max-width: 800px) {
  .contact {
    flex-direction: column;
  }
}

