html {
  padding: 0;
  margin: 0;
  background-color: #E5E4E2;
}

input[type="checkbox"]:checked+.registration {
  background-color: black;
  color: white;
}

p {
  color: rgba(0, 68, 255, 0.692);
  font-weight: bolder;
  font-size: 3.5vw;
  text-align: center;
}

.registration {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  width: 400px;
  border: 1px solid rgb(75, 70, 70);
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4PX #A9A9A9;
  -webkit-box-reflect: belowi;

}

input,
select,
.one-line div {
  margin: 5px;
  padding: 7px 9px;
  border-radius: 5px;
  border: 1px solid slategray;
}


input[type=email],
input[type=password],
.one-line {
  width: 96%;
  display: flex;

}

input[type=submit] {
  background-color: greenyellow;
  border: greenyellow;
  color: white;
  font-size: 2vh;
  font-weight: bolder;
}

a {
  color: rgba(0, 68, 255, 0.692);
  font-weight: bolder;
  font-size: 1.2vw;
  text-align: center;

}

a:link {
  text-decoration: none;
}


/* .custom-gender {
  display: none;
}

input[value="Custom"]:checked~.custom-gender {
  display: block;
  position: fixed;
  top: 63%;
  left: 40%;
}

.custom {
  width: 100%;
  height: 30px;
  border-radius: 7px;
  border: 1px solid slategray;
  padding: 2px;

}  */