html {
  padding: 0;
  margin: 0;
  background-color: #E5E4E2;
}

h2,
a {
  text-align: center;
}

input[type="checkbox"]:checked+.registration {
  background-color: black;
  color: white;
}

p {
  color: rgba(0, 68, 255, 0.692);
  font-weight: bolder;
  font-size: 3.5rem;
  text-align: center;
}

.registration {
  margin: auto;
  padding: 30px;
  width: 20%;
  border: 1px solid rgb(75, 70, 70);
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4PX #A9A9A9;
  -webkit-box-reflect: belowi;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input,
select,
.gender {
  background-color: white;
  padding: 15px 5px 5px 5px;
  border-radius: 7px;
  border: 1px solid slategray;
  font-size: 0.8rem;
}

input[type="text"] {
  width: 45%;
  margin: 10px 5px 10px 6px;
}

select, .gender {
  width: 33%;
  margin: 10px 3px 10px 5px;
}

.one-line {
  width: 100%;
  display: flex;
  justify-content: center;
}

input[type=email],
input[type=password] {
  margin: 10px 5px;
}

/* .gender {
  width: 30%;
  margin: 10px 3px 10px 5px;
} */

input[type="submit"] {
  background-color: greenyellow;
  border: greenyellow;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  width: 50%;
  margin: 10px auto;
  padding: 15pxpx;
  align-items: center;
}

input[type="submit"]:hover {
  background-color: rgb(180, 214, 130);
}

a {
  color: rgba(0, 68, 255, 0.692);
  font-weight: bolder;
  font-size: 0.8rem;
}

a:link {
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .registration {
    width: 60%;
  }
}